@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url('../assets/bg.png'); /* substitua pelo caminho da imagem */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1000px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 83%;
  justify-content: center;
}

.form-box {
  max-width: 400px;
  padding: 30px;
}

#logo{
    width: 15%;
}

.logo {
  font-size: 50px;
  color: white;
  margin-bottom: 5px;
}

.subtitle {
  color: white;
  font-size: 14px;
  margin-bottom: 20px;
}

form select, input {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.116);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.781);
  color: #fff;
}

form select::placeholder, input::placeholder{
    color: #fff;
}

form select:focus, input:focus{
    box-shadow: 0 0 0 0;
    outline-color: #9c4dcc;
}

.row {
  display: flex;
  gap: 10px;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 20px;
  background-color: #9c4dcc;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #7a3a9e;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-top: 15px;
  
}

.social-buttons button {
  border-radius: 100%;
  padding: 10px;
  padding-left: 13px;
  padding-right: 13px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.116);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.781);
  transition: transform 1.2s ease;
}

.social-buttons img {
  width: 19px;
}

.social-buttons button:hover{
    transform: scale(1.09);
}

.login-box {
  position: absolute;
  top: 70%;
  right: 40px;
  color: white;
  text-align: left;
  background: rgba(255, 255, 255, 0.116);
  border-radius: 20px;
  padding: 30px;
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.781);
  transition: transform 2s ease;
}

.login-link{
    color: #ffff;
    text-decoration: none;
}

.login-box:hover {
    transform: scale(1.1);
}
